.parent-schedule {
  padding: 10vh 3vw;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

  @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    display: none;
  }
}

.parent-schedule::before {
  content: " ";
  position: absolute;
  inset: 0;
  z-index: -97;
  background-size: contain;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12'%3E%3Cpath d='M9.8 12 0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z' fill='%239C92AC' fill-opacity='.26' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.parent-schedule::after {
  content: " ";
  position: absolute;
  inset: 0;
  z-index: -99;
  opacity: 0.1;
}

.schedule-title {
  font-size: 45px;
  margin-left: 6vw;
  font-family: "russo one";
  letter-spacing: 2px;
  font-weight: 900;
  padding-bottom: 5vh;
  display: flex;
  align-items: center;
  gap: 2vw;
}

.schedule-title::after {
  content: "";
  z-index: -1;
  border-bottom: 4px solid #d500ed;
  border-image: linear-gradient(to right top,
      #ffda00,
      #ffaa17,
      #ff7545,
      #ff3c6f,
      #ff0099,
      #ed00ae,
      #d100c4,
      #aa0ada,
      #9700e1,
      #7f00e7,
      #5e00ef,
      #1b0cf6);
  border-image-slice: 1;
  width: 35vw;
}

.schedule-title img {
  position: absolute;
  top: 10vh;
  left: 3vw;
  z-index: -1;
  width: 60px;
}

.timeline {
  position: relative;
  padding: 0vh 7vw;
}

.timeline::after {
  content: " ";
  position: absolute;
  z-index: -2;
  top: 1vh;
  left: 50%;
  border-left: 2px solid slateblue;
  height: 0vh;
}

.timelineAnimation::after {
  animation: timelineLine 5s linear forwards;
}

@keyframes timelineLine {
  0% {
    height: 0vh;
  }

  100% {
    height: 100%;
  }
}

.container {
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2vh;
  width: 45%;
  clear: both;
  box-sizing: border-box;
  padding: 3vh 1.5vw;
  border: 1px solid slateblue;
  border-radius: 1vw;
  box-shadow: 1vw 1vw 1vw 0vw black;
  margin-bottom: 3vh;
  opacity: 0;
}

.timelineAnimationContainer {
  animation: timelineFade 0.5s linear forwards;
}

@keyframes timelineFade {
  0% {
    opacity: 0;
    transform: translateY(-5vh);
  }

  100% {
    opacity: 1;
    transform: translateY(0vh);
  }
}

.container:nth-child(1),
.container-mobile:nth-child(1) {
  animation-delay: 0s;
}

.container:nth-child(2),
.container-mobile:nth-child(2) {
  animation-delay: 1s;
}

.container:nth-child(3),
.container-mobile:nth-child(3) {
  animation-delay: 2s;
}

.container:nth-child(4),
.container-mobile:nth-child(4) {
  animation-delay: 3s;
}

.container:nth-child(5),
.container-mobile:nth-child(5) {
  animation-delay: 4s;
}

.container:nth-child(6),
.container-mobile:nth-child(6) {
  animation-delay: 5s;
}

.container:nth-child(7),
.container-mobile:nth-child(7) {
  animation-delay: 6s;
}

.container:nth-child(even) {
  left: 43.2vw;
}

.container .date {
  font-family: Audiowide;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.3vw;
  font-weight: bolder;
  width: fit-content;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right,
      rgba(91, 14, 216, 0.767),
      rgba(238, 12, 200, 0.747));
}

.container .date>div {
  display: flex;
  gap: 0.5vw;
  font-family: inherit;
}

.container .date>div>div {
  display: flex;
  font-family: inherit;
}

.container .date>div>div>div:nth-child(2) {
  display: flex;
  align-items: flex-start;
  font-size: 0.7vw;
  text-transform: lowercase;
  font-family: inherit;
}

.container-title {
  text-align: center;
  position: relative;
  padding: 0.5vh 1vw;
  border: 1px solid slateblue;
  width: fit-content;
  border-radius: 1vw;
  color: rgb(200, 255, 242);
  font-weight: 700;
  text-transform: uppercase;
  font-family: Audiowide;
  letter-spacing: 2px;
  font-size: 1.2vw;
  overflow: hidden;
  isolation: isolate;
}

.container-title::after {
  content: " ";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-image: linear-gradient(to right,
      rgba(91, 14, 216, 0.767),
      rgba(238, 12, 200, 0.747));
}

.container-description {
  text-align: justify;
  font-size: 1.1vw;
}

.circle {
  position: absolute;
  background-color: rgb(220, 0, 240, 0.4);
  width: 1.8vw;
  height: 1.8vw;
  border-radius: 50%;
  top: 0;
}

.circle::after {
  content: " ";
  padding: 0.5vw;
  background-color: rgb(106, 6, 236);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timeline div:nth-child(odd) .circle {
  right: 0;
  transform: translateX(4.9vw);
}

.timeline div:nth-child(even) .circle {
  left: 0;
  transform: translateX(-4.7vw);
}

.parent-schedule-mobile {
  position: relative;
  padding: 5vh 0vw;
  display: none;

  @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    display: block;
  }
}

.parent-schedule-mobile::before {
  content: " ";
  position: absolute;
  inset: 0;
  z-index: -97;
  background-size: contain;
  opacity: 0.5;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12'%3E%3Cpath d='M9.8 12 0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z' fill='%239C92AC' fill-opacity='.26' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.schedule-title-mobile {
  display: flex;
  align-items: center;
  font-size: 40px;
  font-family: "russo one";
  font-weight: 800;
  margin-left: 15vw;
}

.schedule-title-mobile::after {
  content: "";
  z-index: -1;
  border-bottom: 4px solid #d500ed;
  border-image: linear-gradient(to right top,
      #ffda00,
      #ffaa17,
      #ff7545,
      #ff3c6f,
      #ff0099,
      #ed00ae,
      #d100c4,
      #aa0ada,
      #9700e1,
      #7f00e7,
      #5e00ef,
      #1b0cf6);
  border-image-slice: 1;
  width: 30vw;
  margin-left: 2vw;
}

.schedule-title-mobile img {
  position: absolute;
  width: 55px;
  left: 1vw;
  top: 5vh;
}

.timeline-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
}

.timeline-mobile::after {
  content: " ";
  position: absolute;
  z-index: -2;
  top: 0;
  left: 5vw;
  border-left: 2px solid slateblue;
  height: 0vh;
}

.container-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1vh;
  max-width: 80%;
  padding: 2vh 2vw;
  border: 1px solid slateblue;
  border-radius: 1vw;
  box-shadow: 1vw 1vw 3vw 0vw black;
  position: relative;
  opacity: 0;
}

.container-mobile p {
  position: relative;
  padding-top: 2vh;
  font-size: 3vw;
  text-align: justify;
}

.date-mobile {
  font-size: 5vw;
  font-family: Audiowide;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bolder;
  width: fit-content;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right,
      rgba(91, 14, 216, 0.767),
      rgba(238, 12, 200, 0.747));
}

.container-mobile .date-mobile>div {
  display: flex;
  gap: 2vw;
  font-family: inherit;
}

.container-mobile .date-mobile>div>div {
  display: flex;
  font-family: inherit;
}

.container-mobile .date-mobile>div>div>div:nth-child(2) {
  display: flex;
  align-items: flex-start;
  font-size: 2.5vw;
  text-transform: lowercase;
  font-family: inherit;
}

.container-title-mobile {
  font-size: 3.5vw;
  position: relative;
  padding: 0.5vh 2vw;
  font-family: Audiowide;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.container-title-mobile::after {
  content: " ";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: 2vw;
  background-image: linear-gradient(to right,
      rgba(91, 14, 216, 0.767),
      rgba(238, 12, 200, 0.747));
}

.circle-mobile {
  position: absolute;
  background-color: rgb(220, 0, 240, 0.4);
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  left: -8vw;
  top: 0;
}

.circle-mobile::after {
  content: " ";
  padding: 1.5vw;
  background-color: rgb(106, 6, 236);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}