.not-allowed {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/texture.svg");
  text-align: center;
}
.not-allowed h1 {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
